* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.event .container {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.section_header header {
  background-color: #2591c2;
  height: 80px;
  width: 100%;
  opacity: 0.96;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  line-height: 71px;
}
.event_preview {
  position: relative;
}
.mySlides {
  display: none;
  text-align: center;
  margin-top: 20px;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #2591c2;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #ffffff;
}

/* Container for image text */
.caption-container {
  text-align: center;
  padding: 5px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.dflex {
  display: flex;
  justify-content: center;
}
.column {
  width: 14%;
  text-align: center;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.event_content .flex {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.event_content .flex p {
  margin-bottom: 20px;
  line-height: 200%;
  /* margin-top: 10px; */
}
.cofounders {
  /* flex-basis: 45%; */
  /* height: 500px; */
  /* margin: auto; */
}
.cofounders .container > .flex {
  flex-wrap: wrap;
  /* padding: 5px 20px; */

  justify-content: space-between;
  /* margin: auto; */
  /* text-align: center; */
  /* flex-direction: column; */
}
.cofounder {
  flex-basis: 40%;
  margin: 10px 0;
}
.info .flex {
  /* margin-left: 120px; */
  /* margin-top: 20px; */
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}
.info {
  margin-left: 10px;
  width: 100%;
}

.info p {
  /* margin: 10px; */
  font-size: 12px;
  color: #ccc;
}
.info span {
  display: inline-block;
  background: #efefed;
  width: 100%;
  padding: 10px;
  line-height: 200%;
  border-radius: 5px;
  margin-top: 10px;
}
.co_img {
  /* margin-bottom: 100px; */
  height: 47px;
  /* position: absolute;
  top: 5%; */
  /* left: -62px; */
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  text-align: center;
}
.event_photos header {
  background: #ffc107;
  height: 80px;
}
.photos {
  /* width: %; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.photos .image {
  flex-basis: 22%;
  text-align: center;
}
.image img {
  margin-top: 50px;
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
