/* =========my set======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid salmon; */
}
.dflex {
  display: flex;
}
.cap {
  text-transform: capitalize;
}
/* ===========for gradient title======= */
.gradient {
  width: fit-content;
  padding-top: 100px;
  margin: auto;
  background: linear-gradient(90deg, #40438a 0%, #1eb7ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-bottom: 15px;
}

.gradient::after,
.gradient::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #40438a 0%, #1eb7ee 100%);
  width: 120%;
  height: 2px;
  bottom: 0;
  left: -10%;
}

.gradient::after {
  background: #fff;
  width: 20%;
  z-index: 100;
  left: 40%;
}

/* ===========gradient img========= */

.gradient_img {
  position: relative;
}
.gradient_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    #328faf 0%,
    rgba(153, 197, 150, 0) 50.52%,
    rgba(253, 250, 124, 0) 100%
  );
}
.gradient_img img {
  width: 100%;
  object-fit: cover;
}
/* ========space-bettwen====== */

.sb {
  justify-content: space-between;
}

/* ===========margin========= */
/* .ml1 {
  margin-left: 10px;
}
.ml2 {
  margin-left: 20px;
}
.ml3 {
  margin-left: 30px;
}
.mr1 {
  margin-right: 10px;
}
.mr2 {
  margin-right: 20px;
}
.mr3 {
  margin-right: 30px;
}
.mx1 {
  margin: 0 10px;
}
.mx2 {
  margin: 0 20px;
}
.mx3 {
  margin: 0 30px;
}
.my1 {
  margin: 10px 0;
}
.my2 {
  margin: 20px 0;
}
.my3 {
  margin: 30px 0;
}
.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mt3 {
  margin-top: 30px;
}
.mb1 {
  margin-bottom: 10px;
}
.mb2 {
  margin-bottom: 20px;
}
.mb3 {
  margin-bottom: 30px;
} */
