@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.gradient {
  width: fit-content;
  padding-top: 100px;
  margin: auto;
  background: linear-gradient(90deg, #40438a 0%, #1eb7ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-bottom: 15px;
}

.gradient::after,
.gradient::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #40438a 0%, #1eb7ee 100%);
  width: 120%;
  height: 2px;
  bottom: 0;
  left: -10%;
}

.gradient::after {
  background: #fff;
  width: 20%;
  z-index: 100;
  left: 40%;
}

.row {
  display: flex;
}
body {
  font-family: ubuntu;
  min-height: 100vh;
}
.container {
  width: 90%;
  margin: auto;
}
.container {
  max-width: 1440px;
}
@media (max-width: 1280px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 99%;
  }
}
